<!DOCTYPE html>
<html>

	<head>
		<!-- Import CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		
		<!-- Import Javascript -->
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/scripts.js"></script>
		<script type="text/javascript" src="/static/js/form.js"></script>
	</head>
	
	<body>
		<header>
			<h1>Register to Vote</h1>
			<img id="logo" src="/static/img/rtvpower.png">
		</header>

		<div class="container">
			<h1>Register To Vote</h1>
			<section id="state_form">
			<form action="" method="get" id="get_started">
				<fieldset id="get_started">
					<legend class="accordion-header">Get Registered!</legend>
					<p>Registering to vote is easy -- and you can do it now.</p>
					<ul>
						<li>
							<label for="first_name">First Name</label>
							<input type="text" name="first_name" id="first_name"  />
							<img class="first_name_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
						</li>
						<li>
							<label for="last_name">Last Name</label>
							<input type="text" name="last_name" id="last_name"  />
							<img class="last_name_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
						</li>
						<li>
							<label for="email_address">Email Address</label>
							<input type="text"  name="email_address" id="email_address" />
							<img class="email_address_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
						</li>
						<li>
							<label for="home_zip_code">Zip Code</label>
							<input type="text"  name="zip_code" id="zip_code" />
							<img class="zip_code_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
						</li>
						<li class="form-action">
							<input type="submit" id="get_started" value="Get Started" />
						</li>
					</ul>
				</fieldset>
			</form>
		</section>
		<section id="registration_form">
			<form action="" method="post" id="ovr">
			<fieldset id="address">
				<legend class="accordion-header">Address Information</legend>
				<img class="accordion_header_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
				<ul>
					<li>
						<label for="home_address">Address</label>
						<input type="text" name="home_address" id="home_address" />	
					</li>
					<li class="no_clear">
						<label for="home_unit">Unit</label>
						<input type="text" name="home_unit" id="home_unit" />		
					</li>
					<li class="city">		
						<label for="home_city">City</label>
						<input type="text" name="home_city" id="home_city" />		
					</li>
					<li class="no_clear">
						<label for="home_state_id">State</label>
						<input type="text" name="home_state_id" id="home_state_id" />
					</li>
					<li class="no_clear">
						<label for="home_zip_code">Zip Code</label>
						<input type="text"  name="home_zip_code" id="home_zip_code" />
					</li>	
					<li>
						<label for="has_different_address">
							<input type="checkbox" name="has_different_address" id="has_different_address" /> I have a different mailing address.
						</label>
						<img class="has_different_address_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
					</li>	
					<div class="mailing"> 
						<li>
							<label for="mailing_address">Address</label>
							<input type="text" name="mailing_address" id="mailing_address" />
						</li>
						<li class="no_clear">
							<label for="home_unit">Unit</label>
							<input type="text" name="mailing_unit" id="mailing_unit" />		
						</li>
						<li class="city">
							<label for="mailing_city">City</label>
							<input type="text" name="mailing_city" class="span2" id="city" />
						</li>
						<li class="no_clear">
							<label for="mailing_state">State</label>
							<input type="text" name="mailing_state" class="span1" id="state" />
						</li>
						<li class="no_clear" >
							<label for="mailing_zip_code">Zip Code</label> 
							<input type="text" name="mailing_zip_code" id="mailing_zip_code"/>
						</li>
					</div>
					<li>
						<label for="change_of_address">
							<input type="checkbox" name="change_of_address" id="change_of_address" /> I have recently moved.
						</label>
						<img class="change_of_address_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
					</li>
					<div class="address-change">
						<li>
							<label for="prev_address">Address</label>
							<input type="text" name="prev_address" />
						</li>
						<li class="no_clear">
							<label for="prev_unit">Unit</label>
							<input type="text" name="prev_unit" id="prev_unit" />		
						</li>
						<li class="city">
							<label for="prev_city">City</label>
							<input type="text" name="prev_city" id="prev_city" />
						</li>
						<li class="no_clear">
							<label for="prev_state_id">State</label>
							<input type="text" name="prev_state_id" id="prev_state_id" />
						</li>
						<li class="no_clear">
							<label for="prev_zip_code">Zip Code</label> 
							<input type="text" name="prev_zip_code" id="prev_zip_code"/>
						</li>
					</div>
					<li>
						<a href="http://overseasvotefoundation.org">Registering Abroad?</a>
					</li>
				</ul>
			</fieldset>
			<fieldset id="personal_info">
				<legend class="accordion-header">Personal Information</legend>
				<img class="accordion_header_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
				<ul>
					<li class="title">
						<label for="name_title">Title</label>
						<select name="name_title" id="name_title">
							<option value=""></option>
							<option value="Mr.">Mr.</option>
							<option value="Mrs.">Mrs.</option>
							<option value="Miss">Miss</option>
							<option value="Ms.">Ms.</option>
						</select>
					</li>
					<li class="no_clear">
						<label for="first_name">First Name</label>
						<input type="text" name="first_name" id="first_name"  />
					</li>
					<li class="no_clear">
						<label for="last_name">Last Name</label>
						<input type="text" name="last_name" id="last_name"  />
					</li>
					<li>
						<label for="change_of_name">
						<input type="checkbox" name="change_of_name" id="change_of_name" /> I have changed my name.</label>
						<img class="change_of_name_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
					</li>
					<div class="name-change">
						<li class="title">
							<label for="prev_name_title">Title</label>
							<select name="prev_name_title" id="prev_name_title">
								<option value=""></option>
								<option value="Mr.">Mr.</option>
								<option value="Mrs.">Mrs.</option>
								<option value="Miss">Miss</option>
								<option value="Ms.">Ms.</option>
							</select>
						</li>
						<li class="no_clear">
							<label for="prev_first_name">First Name</label>
							<input type="text" name="prev_first_name" id="prev_first_name"  />
						</li>
						<li class="no_clear">
							<label for="prev_last_name">Last Name</label>
							<input type="text" name="prev_last_name" id="prev_last_name"  />
						</li>
					</div>
					<li>
						<label for="id_number">ID Number</label>
						<input type="text"  name="id_number" id="id_number">
						<img class="id_number_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
					</li>
					<li>
						<label for="date_of_birth">Date of Birth</label>
						<input type="text"  name="date_of_birth" id="date_of_birth" />
					</li>
				</ul>
			</fieldset>		
			<fieldset>
				<legend class="accordion-header">Contact Information</legend>
				<ul>
					<li>
						<label for="email_address">Email Address</label>
						<input type="text" name="email_address" id="email_address" />
					</li>
					<li>
						<label for="opt_in_email">
						<input type="checkbox" name="opt_in_email" id="opt_in_email" /> I want to receive updates via email.</label>
					</li>
					<li>
						<label  for="phone">Phone</label>
						<input type="text" name="phone" id="phone" />
						<img class="phone_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
					</li>
					<li>
						<label for="opt_in_sms">
							<input type="checkbox" name="opt_in_sms" id="opt_in_sms" /> Receive text messages from Rock The Vote.
							
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend class="accordion-header">Additional Information</legend>
				<ul>
					<li>
						<label for="race">Race</label>
						<select id="race" name="race" >
							<option value=""></option>
							<option value="American Indian / Alaskan Native">American Indian / Alaskan Native</option>
							<option value="Asian / Pacific Islander">Asian / Pacific Islander</option>
							<option value="Black (Not Hispanic">Black (Not Hispanic)</option>
							<option value="Hispanic">Hispanic</option>
							<option value="Multi-racial">Multi-racial</option>
							<option value="White (not Hispanic)">White (not Hispanic)</option>
							<option value="Other">Other</option>
							<option value="Decline to State">Decline to State</option>
						</select>
						<img class="race_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
					</li>
					<li class="party">
						<label for="party">Party</label>
							<select id="party" name="party">
								<option value=""></option>
							</select>
							<img class="party_tooltip" id="tooltip" src="/static/img/help_icon.gif" />
					</li>
					<li>
						<label for="us_citizen">
							<input type="checkbox" name="us_citizen" id="us_citizen" checked='checked'/> I am a US Citizen
						</label>
					</li>
					<li class="form-action">
						<input type="submit" id="register" value="Register" />
					</li>
				</ul>
			</fieldset>
		</form>
		</section>
		<footer>
			<a href="http://www.rockthevote.com/voter-registration/online-application-system/faq.html">FAQ</a>
			<a href="http://www.rockthevote.com/voter-registration/online-application-system/privacy.html">Privacy & Security</a>
			<a href="http://www.rockthevote.com/voter-registration/online-application-system/contact.html">Contact</a>
			<a href="http://www.rockthevote.com/voter-registration/online-application-system/about.html">About</a>
			<span>© Copyright 2012, Rock the Vote</span>
		</footer>
	</div>
	</body>
</html>
