<!DOCTYPE html>
<html>

	<head>
		<!-- Import CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		
		<!-- Import Javascript -->
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/scripts.js"></script>
	</head>
	
	<body>
		<header>
			<img src="http://placehold.it/232x79">
			<h1>Voter Registration</h1>
		</header>
		<section>
			<header>
				<h2>Get Registered!</h2>
				<p>Registering to vote is easy -- and you can do it now.</p>
			</header>
			
			<form action="" method="get" id="get_started">
				<fieldset id="get_started">
					<ul>
						<li>
							<label for="first_name">First Name</label>
							<input type="text" name="first_name" id="first_name"  />
						</li>
						<li>
							<label for="last_name">Last Name</label>
							<input type="text" name="last_name" id="last_name"  />
						</li>
						<li>
							<label for="email_address">Email Address</label>
							<input type="text"  name="email_address" id="email_address" />
						</li>
						<li>
							<label for="home_zip_code">Zip Code</label>
							<input type="text"  name="zip_code" id="zip_code" />
						</li>
					</ul>
					<button type="submit" id="get_started_submit">Get Started</button>
				</fieldset>
			</form>
			
			<form action="" method="post" id="ovr">
			<section>
			<h2>Address</h2>
			<fieldset id="address">
				<ul>
					<li>
						<label for="home_address">Address</label>
						<input type="text" name="home_address" id="home_address" />		
					</li>
					<li>
						<label for="home_zip_code">Zip Code</label>
						<input type="text"  name="home_zip_code" id="home_zip_code" />
					</li>	
					<li>		
						<label for="home_city">City</label>
						<input type="text" name="home_city" id="home_city" />		
					</li>
					<li>
						<label  for="home_state_id">State</label>
						<input type="text" name="home_state_id" id="home_state_id" />
					</li>
					<li>
						<label for="has_different_address">
							<input type="checkbox" name="has_different_address" id="has_different_address" /> I have a different mailing address.
						</label>
					</li>	
					<li>
						<label for="change_of_address">
							<input type="checkbox" name="change_of_address" id="change_of_address" /> I have recently moved.
						</label>
					</li>
					<li>
						<a href="overseasvotefoundation.org">Registering Abroad?</a>
					</li>
				</ul>
			</fieldset>
			<h2>Personal</h2>
			<fieldset id="personal_info">
				<ul>
					<li>
						<label for="name_title">Title</label>
						<select name="name_title" id="name_title">
							<option value=""></option>
							<option value="Mr.">Mr.</option>
							<option value="Mrs.">Mrs.</option>
							<option value="Miss">Miss</option>
							<option value="Ms.">Ms.</option>
						</select>
					</li>
					<li>
						<label for="first_name">First Name</label>
						<input type="text" name="first_name" id="first_name"  />
					</li>
					<li>
						<label for="last_name">Last Name</label>
						<input type="text" name="last_name" id="last_name"  />
					</li>
					<li>
						<label for="change_of_name">
						<input type="checkbox" name="change_of_name" id="change_of_name" /> I have changed my name.</label>
					</li>
					<li>
						<label for="id_number">ID Number</label>
						<input type="text"  id="id_number">
					</li>
					<li>
						<label for="date_of_birth">Date of Birth</label>
						<input type="text"  name="date_of_birth" id="date_of_birth" />
					</li>
				</ul>
			</fieldset>		
			<h2>Contact</h2>
			<fieldset>
				<ul>
					<li>
						<label for="email_address">Email Address</label>
						<input type="text" name="email_address" id="email_address" />
					</li>
					<li>
						<label for="notifications">
						<input type="checkbox" name="opt-in-email" id="notifications" /> I want to receive updates via email.</label>
					</li>
					<li>
						<label  for="phone">Phone</label>
						<input type="text" name="phone" id="phone" />
					</li>
					<li>
						<label for="notifications">
							<input type="checkbox" name="opt-in-sms" id="notifications" /> Receive text messages from Rock The Vote.
						</label>
					</li>
				</ul>
			</fieldset>		
			<h2>Additional Information</h2>	
			<fieldset>
				<ul>
					<li>
						<label for="race">Race</label>
						<select id="race" name="race" >
							<option value=""></option>
							<option value="American Indian / Alaskan Native">American Indian / Alaskan Native</option>
							<option value="Asian / Pacific Islander">Asian / Pacific Islander</option>
							<option value="Black (Not Hispanic">Black (Not Hispanic)</option>
							<option value="Hispanic">Hispanic</option>
							<option value="Multi-racial">Multi-racial</option>
							<option value="White (not Hispanic)">White (not Hispanic)</option>
							<option value="Other">Other</option>
							<option value="Decline to State">Decline to State</option>
						</select>
					</li>
					<li>
						<label for="party">Party
							<select id="party" name="party">
								<option value=""></option>
							</select>
						</label>
					</li>
					<li>
						<label for="us_citizen">
							<input type="checkbox" name="us_citizen" id="us_citizen"/> I am a US Citizen
						</label>
					</li>
				</ul>
			</fieldset>
			<button type="submit" id="register">Register</button>
		</section>
	</body>
</html>
