#header > h1 > .logo.cobrand {
	float: right;
}

#header > h1 > .logo.presenteorg {
	position:relative;
	top:11px;
}
#header > h1 > .logo.national-black-justice-coalition {
	position:relative;
	top:7px;
}
#header > h1 > .logo.ultraviolet {
	position:relative;
	top:9px;
}
#header > h1 > .logo.florida-new-majority {
	position:relative;
	right:15px;
	top:3px;
}

#header > h1 > .logo > img {
	vertical-align: middle;
	max-width:150px;
}

#header > h1 > .logo.cobrand > img {
	max-width:100px;
	position:relative;
	right:5px;
}

#footer p > a.cobrand {
	background-image: none;
	text-indent: 0;
}

#footer p > a.cobrand.presenteorg {
	position:relative;
	top:11px;
}

#footer p > a.cobrand.apia-vote {
	position:relative;
	top:8px;
}

#footer p > a.cobrand > img {
	width:129px;
}

/* hide rtv logo on mi familia vota */
#footer.mi-familia-vota a.rtv-logo {
	display:none;
}
#footer.mi-familia-vota p span.amp {
	display:none;
}
