venv
*.pyc
settings_local.py
.DS_Store
build/boto/.gitignore

build/boto/Changelog.rst

build/boto/MANIFEST.in

build/boto/README.markdown

build/boto/bin/asadmin

build/boto/bin/bundle_image

build/boto/bin/cfadmin

build/boto/bin/cwutil

build/boto/bin/elbadmin

build/boto/bin/fetch_file

build/boto/bin/instance_events

build/boto/bin/s3multiput

build/boto/bin/pyami_sendmail

build/boto/bin/launch_instance

build/boto/bin/sdbadmin

build/boto/bin/kill_instance

build/boto/bin/list_instances
