Django==1.4
boto==2.3.0
distribute==0.6.24
django-storages==1.1.4
psycopg2==2.4.5
wsgiref==0.1.2
gunicorn==0.14.2
newrelic==1.10.2.38
pygeoip
pillow
django-sslify
django-evolution
django-urli18n
python-dateutil==1.2
pylibmc==1.2.3
django-pylibmc-sasl==0.2.4
dj-database-url
raven
