/* Imports */

@import "mixins.less";
@import "normalize.less";


/* Structural */

html {
	background: #f0f0f0;
}


header {
	background: #b4b4b4;
	height:50px;
	img#logo {
		float:right;
		padding-right:20px;
		padding-top:5px;
	}

	h1 {
		margin:0px;
		padding-top:8px;
		padding-left:20px;
		color:#000;
		width:200px;
		.text-shadow(0 -1px 0 rgba(255,255,255,.35));
	}
}


.container {
	width: 524px;
	.center-block;
	padding: 10px 20px;
	background: #f0f0f0;
	h1 {
		margin:0px;
		color:#000;
		.text-shadow(0 -1px 0 rgba(255,255,255,.35));
		display:inline-block;
		width:230px;
	}
}

#state_form {
	margin-top: 0px; /* Cannot figure out what is causing the discrepency in height between the two sections.  I assume it's some form of margin collapse.. */
	
}

#registration_form {
	margin-top:13px;
}

form {
	padding-bottom: 10px;
	margin-bottom: 10px;
}


fieldset {
	.border-radius(5px);
}

fieldset#get_started > p {
	padding-top:10px;

}

form ul {
	list-style: none;
	padding: 10px;
	margin: 0;
	.clearfix;
	position:relative;
	li {
		float: left;
		clear: both;
		margin-right: 5px;
		margin-bottom: 10px;
		width: 240px;
		position:relative;  /* Setting the li to relative positioning ensures that the elements inside the tooltip wrapper animate properly.  */
	}
	li.checkbox {
		width:100%;
		position:relative;
	}
	li.city {
	width:185px;
	position:relative;
	}	
	li.party {
		margin-top:0px;
		margin-bottom:20px;
		position:relative;
	}
	li.buttons {
		position:absolute;
		bottom:10px;
		margin:0px;
	}
}

li.state {
	width:150px;
}

#home_unit, #prev_unit, #mailing_unit {
	width:50px;
}

li.title {
	width:60px;
}

legend.accordion-header, legend.header {
	display: block;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #999;
	width: 100%;
	.box-sizing(border-box);
	.border-radius(3px);
	font-weight: bold;
	color: #FFF;
	.text-shadow(0 -1px 0 rgba(0,0,0,.95));
	#gradient.vertical(lighten(#004B7B,10%), #004B7B;
}

footer {
	border-top: 1px solid #AAA;
	padding:10px;
	text-align:center;
	a {
		margin-left:20px;
	}
	span {
		font-style: italic;
		font-size:12px;
		width:180px;
		margin-left:40px;
	}
}


label {
	display: block;
	margin-bottom:1px;
}

input, select, textarea {
	padding: 5px;
	.box-sizing(border-box);
	.box-shadow(0 1px 0 rgba(255,255,255,.5));
}

input[type="submit"] {
	clear: both;
}


input#zip_code, input#home_zip_code, input#mailing_zip_code , input#prev_zip_code {
	width: 50px;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="button"]), textarea {
	border: 1px solid #666;
	width: 90%;
	#gradient.vertical(#f5f5f5, #fff);
	box-shadow: 0 1px 0 rgba(255,255,255,.5), inset 0 1px 1px rgba(0,0,0,.15);
}

/* Formatting */

.no_clear{
	clear:none;
}


#print { display: none; }
/* Tooltip Styles */

p.tooltip {
	display:inline; 
	position:absolute;
	margin-left:10px;
	margin-top:3px;
	margin-right:50px;
	a {
		padding: 2px;
		border: 1px solid #999;
		.border-radius(3px);
		font-weight: bold;
		color: #FFF;
		.text-shadow(0 -1px 0 rgba(0,0,0,.95));
		#gradient.vertical(lighten(#004B7B,10%), #004B7B;
		float:left;
	}
	span {
		background-color:#FFF;
		display:block;
		width:160px;
		min-height:30px;
		position:relative;
		left:30px;
		border: 3px solid lighten(#004B7b,11%);
		.border-radius(3px);
		padding:10px;
		color:#000;
		font-size:11px;
		text-align:center;
		z-index:1000;
		max-width:120px;
		a {		
			padding:0px;
			border:0px;
			.border-radius(0px);
			font-weight:normal;
			color:#00E;
			.text-shadow(0 0 0 rgba(0,0,0,.95));
			float:none;
			margin-right:0px;
			background-color:#F0F0F0 !important;
			#gradient.vertical(lighten(#F0F0F0,0%), #F0F0F0;
			}
	}
}

p.tooltip_checkbox, {
	margin-right:0px;
	margin-top:-2px;
}

p.tooltip-select { 
	margin-left:10px;
	margin-top:-2px;
}



.checkbox_label {
	float:left;
}


h1 {
	display:inline;
}


a#top_link {
	float:right;
}


#tabnav {
	height:100%;
	padding:8px;
	position: relative; 
}
#tabnav ul {
	list-style-type: none;
/* 	padding: .2em .2em 0; */
	padding:1px 3px;
	margin-bottom:0;
	margin-left:10px;
	li {
		 list-style: none;
		 display:inline;
		 position: relative; 
		 margin-left:-4px;
		 border-right:1px solid #FFF;
		 padding:12px 6px 12px 0px;
		 white-space: nowrap; 
		 vertical-align: top; 
		 .text-shadow(0 -1px 0 rgba(0,0,0,.90));
		 a {
		 	text-decoration:none;
		 	color:#FFF;
			padding-left:6px;
		 	&:hover {
		 	color:#AAA;
		 	}
		 }
		
	}
	.first-tabnav {
		padding-right:10px;
		margin-left:-10px;
	}
	.last-tabnav { 
		border: 0px !important;
		padding-left:3px;
	}
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height:96%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -37px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 37px; /* .push must be the same height as .footer */
}


