/* Imports */

@import "mixins.less";
@import "normalize.less";


/* Structural */

html {
	background: #f0f0f0;
}


header {
	background: #b4b4b4;
	height:50px;
	img#logo {
		float:right;
		padding-right:20px;
		padding-top:5px;
	}

	h1 {
		margin:0px;
		padding-top:8px;
		padding-left:20px;
		color:#000;
		width:200px;
		.text-shadow(0 -1px 0 rgba(255,255,255,.35));
	}
}


.container {
	width: 650px;
	.center-block;
	padding: 10px 20px;
	background: #f0f0f0;
	h1 {
		margin:0px;
		color:#000;
		.text-shadow(0 -1px 0 rgba(255,255,255,.35));
		display:inline-block;
		width:230px;
	}
}

#state_form {
	margin-top: -13px; /* Cannot figure out what is causing the discrepency in height between the two sections.  I assume it's some form of margin collapse.. */
	
}

form {
	padding-bottom: 10px;
	margin-bottom: 10px;
}


fieldset {
	.border-radius(5px);
}

fieldset#get_started > p {
	padding-top:10px;

}

form ul {
	list-style: none;
	padding: 10px;
	margin: 0;
	.clearfix;
	li {
		float: left;
		clear: both;
		margin-right: 5px;
		margin-bottom: 10px;
		width: 240px;
	}
	li.checkbox {
		width:100%;
	}
	li.city {
	width:185px;
	}	
	li.party {
		margin-top:0px;
		margin-bottom:20px;
	}
}

li.state {
	width:150px;
}

#home_unit, #prev_unit, #mailing_unit {
	width:50px;
}

li.title {
	width:60px;
}

legend.accordion-header {
	display: block;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #999;
	width: 100%;
	.box-sizing(border-box);
	.border-radius(3px);
	font-weight: bold;
	color: #FFF;
	.text-shadow(0 -1px 0 rgba(0,0,0,.95));
	#gradient.vertical(lighten(#004B7B,10%), #004B7B;
}

footer {
	border-top: 1px solid #AAA;
	padding:10px;
	text-align:center;
	a {
		margin-left:20px;
	}
	span {
		font-style: italic;
		font-size:12px;
		width:180px;
		margin-left:40px;
	}
}


label {
	display: block;
	margin-bottom:1px;
}

input, select, textarea {
	padding: 5px;
	.box-sizing(border-box);
	.box-shadow(0 1px 0 rgba(255,255,255,.5));
}

input[type="submit"] {
	clear: both;
	display: block;
}


input#zip_code, input#home_zip_code, input#mailing_zip_code , input#prev_zip_code {
	width: 50px;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="button"]), textarea {
	border: 1px solid #666;
	width: 90%;
	#gradient.vertical(#f5f5f5, #fff);
	box-shadow: 0 1px 0 rgba(255,255,255,.5), inset 0 1px 1px rgba(0,0,0,.15);
}

/* Formatting */

.no_clear{
	clear:none;
}

/* Tooltip Styles */

p.tooltip, {
	display:inline; 
	position:absolute;
	margin-left:10px;
	margin-top:3px;
	margin-right:50px;
	width:240px;
	a {
		padding: 2px;
		border: 1px solid #999;
		.border-radius(3px);
		font-weight: bold;
		color: #FFF;
		.text-shadow(0 -1px 0 rgba(0,0,0,.95));
		#gradient.vertical(lighten(#004B7B,10%), #004B7B;
		float:left;
		margin-right:10px;
	}
}

p.tooltip_checkbox, {
	position:absolute;
	margin-right:0px;
	margin-top:-2px;
	a { 
		padding: 2px;
		border: 1px solid #999;
		.border-radius(3px);
		font-weight: bold;
		color: #FFF;
		.text-shadow(0 -1px 0 rgba(0,0,0,.95));
		#gradient.vertical(lighten(#004B7B,10%), #004B7B;
	}
}

p.tooltip-select {
	display:inline; 
	margin-left:10px;
	margin-top:5px;
	a { padding: 2px;
		border: 1px solid #999;
		.border-radius(3px);
		font-weight: bold;
		color: #FFF;
		.text-shadow(0 -1px 0 rgba(0,0,0,.95));
		#gradient.vertical(lighten(#004B7B,10%), #004B7B;}
}

legend p.tooltip {
	display:inline; 
	margin-left:10px;
	margin-top:0px;
	position:absolute;
	a { padding: 2px;
		border: 1px solid #999;
		.border-radius(3px);
		font-weight: bold;
		color: #FFF;
		.text-shadow(0 -1px 0 rgba(0,0,0,.95));
		#gradient.vertical(lighten(#004B7B,10%), #004B7B;}
	span {color: #FFF;}
}

.checkbox_label {
	float:left;
}

span.tooltip_text {
	position:relative;
	color:#000;
	font-size:11px;
}

h1 {
	display:inline;
}


a#top_link {
	float:right;
}
