{%extends "base.html"%}

{%block title%}Oops, something's gone wrong (500){%endblock title%}

{%block style%}
	<style type="text/css">
		div.dialog {
			width: 25em;
			padding: 0 4em;
			margin: 4em auto 3em auto;
			border: 1px solid #ccc;
			border-right-color: #999;
			border-bottom-color: #999;
		}
		h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
	</style>
{%endblock style%}

{%block content%}
  <div class="dialog">
    <h1>Sorry for the interruption</h1>
    <p>
      We are currently experiencing an error. The website staff have been notified.
    </p>
    <p>
      If you have already completed a voter registration application, please check your email inbox for a message
      from Rock The Vote with a link where you can download your completed application form.
    </p>
  </div>
{%endblock content%}