<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />

	<title>Voter Registration Error</title>

	<link href="https://s3.amazonaws.com/register2.rockthevote.com/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
		<style type="text/css">
		div.dialog {
			width: 25em;
			padding: 0 4em;
			margin: 4em auto 3em auto;
			border: 1px solid #ccc;
			border-right-color: #999;
			border-bottom-color: #999;
		}
		h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
	</style>

	<script src="https://s3.amazonaws.com/register2.rockthevote.com/javascripts/modernizr.js" type="text/javascript"></script>

</head>
<body class="{% block body_class %}{% endblock body_class %}">
	<div id="main" role="main">
		<div id="wrap">
		<header id="header">
			<h1 class="container">
				<a class="logo">
					{% if customform.logo%}<img src="https://s3.amazonaws.com/register2.rockthevote.com/{{customform.logo}}" />{%endif%}
				</a>
				{{ state_name }} Voter Registration
			</h1>
		</header>
		<div id="content">
		  <div class="dialog">
		    <h1>Sorry for the interruption</h1>
		    <p>
		      We are currently experiencing an error. The website staff have been notified.
		    </p><br>
		    {% if error%}<p>{{error}}{%endif%}
		    <p>
		      If you have already completed a voter registration application, please check your email inbox for a message
		      from Rock The Vote with a link where you can download your completed application form.
		    </p>
		  </div>
		</div>

		</div>
	    <div class="scroll-shadows top"></div>
    	<div class="scroll-shadows bottom"></div>
		<footer id="footer">
			<div class="container">
				<p>
					Powered by
					<a href="" tabindex="-1">Rock The Vote</a>
				</p>
				<nav>
					<a href="http://www.rockthevote.com/voter-registration/online-application-system/faq.html" target="_blank">FAQ</a>
					<a href="http://www.rockthevote.com/voter-registration/online-application-system/privacy.html" target="_blank">Privacy &amp; Security</a>
					<a href="http://www.rockthevote.com/voter-registration/online-application-system/contact.html" target="_blank">Contact Us</a>
					<a href="http://www.rockthevote.com/voter-registration/online-application-system/about.html" target="_blank">About</a>
				</nav>
			</div>
		</footer>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="https://s3.amazonaws.com/register2.rockthevote.com/javascripts/application.js" type="text/javascript"></script>
	{%block scripts%}{%endblock scripts%}
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-31241858-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>