<!DOCTYPE html>
<html>

	<head>
		<title>{%block title%}{%endblock title%}</title>
		<!-- Import CSS -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />
		{%block styles%}{%endblock styles%}
		
		<!-- Import Javascript -->
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
		{%block scripts%}{%endblock scripts%}
	</head>
	
	<body>
		<div class="wrapper">
			<header>
				<button id="top_link" type="submit"><a href="/{%if layout%}?layout={{layout}}{%endif%}">Start Over</a></button>
				<img id="logo" src="{{STATIC_URL}}img/rtvpower.png">
			</header>

			<div class="container">
				{%block content%}{%endblock%}
			</div>
		<div class="push"></div>
		</div>
			<footer>
				<a href="http://www.rockthevote.com/voter-registration/online-application-system/faq.html">FAQ</a>
				<a href="http://www.rockthevote.com/voter-registration/online-application-system/privacy.html">Privacy &amp; Security</a>
				<a href="http://www.rockthevote.com/voter-registration/online-application-system/contact.html">Contact</a>
				<a href="http://www.rockthevote.com/voter-registration/online-application-system/about.html">About</a>
				<span>© Copyright 2012, Rock the Vote</span>
			</footer>
		
	</body>
</html>
