<!DOCTYPE html>
<html>

	<head>
		<title>{%block title%}{%endblock title%}</title>
		<!-- Import CSS -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />
		{%block styles%}{%endblock styles%}
		
		<!-- Import Javascript -->
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
		{%block scripts%}{%endblock scripts%}
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-31241858-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	
	<body>
		<div class="wrapper">
			<header>
				<h1>Voter Registration</h1>
			</header>

			<div class="container">
				{%block content%}{%endblock%}
			</div>
			<div class="push"></div>
		</div>
		<footer class="footer">
			<a href="http://www.rockthevote.com/voter-registration/online-application-system/faq.html">FAQ</a>
			<a href="http://www.rockthevote.com/voter-registration/online-application-system/privacy.html">Privacy &amp; Security</a>
			<a href="http://www.rockthevote.com/voter-registration/online-application-system/contact.html">Contact</a>
			<a href="http://www.rockthevote.com/voter-registration/online-application-system/about.html">About</a>
			<span>© Copyright 2012, Rock the Vote</span>
		</footer>
	</body>
</html>
