{%extends "base.html"%}
{% load i18n %} 

{%block title%}{% trans "Register to Vote"%} | {% trans "Error Processing Your Form" %}{%endblock title%}

{% block body_class %}finish{% endblock body_class %}

{%block scripts%}
{%endblock%}

{%block content%}
<section>
  	<header>
  		<h2>{% trans "Something went wrong" %} :-(</h2>
      {% for message in messages %}
        <p>{{message.tags}}: {{message}}</p>
      {% endfor %}
      <p><br><a href="javascript:history.back();">{% trans "Go back and try again?" %}</a></p>
  	</header>
</section>
{%endblock content%}