{%extends "base.html"%}

{%block styles%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/share.css" />
{%endblock styles%}

{%block scripts%}
<!-- Google Code for UI TESTING Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1058320021;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Sjx-CM_s2AIQld3S-AM";
var google_conversion_value = 0;
if (1) {
 google_conversion_value = 1;
}
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
{%endblock%}

{%block content%}
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1058320021/?value=1&amp;label=Sjx-CM_s2AIQld3S-AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<div id="finish">
    <h1>Spread the word!</h1>
    <p>
      Don't forget to tell your friends and family how easy it was to register. Here are a few tools you can use to spread the word about voter registration:
    </p>
    
    <div class="share">
      <div>      <span class="button">
            <a class="button_share_facebook_en" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.rockthevote.com%2Fregister%2Ffb&amp;t=I+just+registered+to+vote+and+you+can+too%21" target="_blank"><span>Share on Facebook!</span></a>
          </span>

      </div>
      <div>      <span class="button">
            <a class="button_share_twitter_en" href="http://twitter.com/home?status=I+just+registered+to+vote+and+you+can+too%21+https%3A%2F%2Fregister.rockthevote.com%2F" target="_blank"><span>Share on Twitter!</span></a>
          </span>

      </div>
      <!--<div>      <span class="button">
            <a class="button_share_google_buzz_en" href="http://www.google.com/reader/link?url=https%3A%2F%2Fregister.rockthevote.com%2F&amp;srcURL=https%3A%2F%2Fregister.rockthevote.com%2F&amp;srcTitle=Rock+the+Vote&amp;title=I+just+registered+to+vote+and+you+can+too%21" target="_blank"><span>Share on Buzz!</span></a>
          </span>

      </div>-->
    </div>
    
    <p><strong>
      Get this voter registration tool on your website. Sign up free at <a href="http://www.rockthevote.com/partner">http://www.rockthevote.com/partner</a>
    </strong></p>
    
    <p>Got questions about upcoming elections in your area? Ask questions and get answers at the online election center, <a href="http://electionland.com/">Electionland:</a>
      
    <p class="centered"><a href="http://electionland.com/">
      <img src="https://register.rockthevote.com/images/electionland_USA_small.png">
    </a>
</div>
{%endblock content%}