{%extends "base.html"%}

{%block title%}Register to Vote{%endblock title%}

{% block scripts %}
	<script src="{{STATIC_URL}}javascripts/form.js" type="text/javascript"></script>
	<style>
	/* the last refuge of scoundrels */
	  fieldset.submit > .inputs { 
	    width:300px;
	  }
	  fieldset.submit .fake-checkbox-wrap {
	    float:left;
	  } 
	  fieldset.submit span.subtle { 
	    font-size: 11px;
	    font-weight:normal;
	  }
	</style>
{% endblock scripts %}

{%block content%}
    <form class="registration-form" method="post" action="../submit/" accept-charset="UTF-8">
      <fieldset class="address">
        <div class="row">
          <div class="input text span-12">
            <label for="home_address">Street Address</label>
            <input required id="home_address" name="home_address" type="text" />
            <div class="home-address-hint tooltip">
              Put your home address in these boxes. Do not put your mailing address here if it is different from your home address. Do not use a post office box or rural route without a box number. If you live in a rural area but do not have a street address, or if you have no address, please show where you live using the map on the printed form.
            </div>
          </div>
          <div class="input text zip-code span-12 last">
            <a class="incorrect-location" tabindex="-1" href="../map/">Not in {{ state }}?</a>
            <label for="home_zip_code">Zip Code</label>
            <input required id="home_zip_code" name="home_zip_code" type="text" />
            <input name="home_city" id="home_city" type="hidden" />
            <input name="home_state_id" id="home_state_id" type="hidden" />
            <div class="zip-code-location-hint"></div>
          </div>
        </div>
        <div class="row">
          <div class="span-6">
            <a tabindex="-1" href="#">Registering Abroad?</a>
          </div>
          <div class="input checkbox span-10">
            <input id="has_mailing_address" name="has_mailing_address" value="1" type="checkbox" />
            <label for="has_mailing_address">I have a different mailing address</label>
          </div>
          <div class="input checkbox span-8 last">
            <input id="change_of_address" name="change_of_address" value="1" type="checkbox" />
            <label for="change_of_address">I have recently moved</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="mailing-address closed">
        <div class="row">
          <div class="input text span-12">
            <label for="mailing_address">Mailing Street Address</label>
            <input id="mailing_address" name="mailing_address" type="text" />
            <div class="mailing-address-hint tooltip">
              If you receive mail at a different address, please enter it here.
            </div>
          </div>
          <div class="input text zip-code span-12 last">
            <label for="mailing_zip_code">Mailing Zip Code</label>
            <input id="mailing_zip_code" name="mailing_zip_code" type="text" />
            <input name="mailing_city" id="mailing_city" type="hidden" />
            <input name="mailing_state" id="mailing_state" type="hidden" />
            <div class="zip-code-location-hint"></div>
          </div>
        </div>
      </fieldset>
      <fieldset class="previous-address closed">
        <div class="row">
          <div class="input text span-12">
            <label for="prev_address">Previous Street Address</label>
            <input id="prev_address" name="prev_address" type="text" />
            <div class="previous-address-hint tooltip">
              If you have moved since your last registration, enter your previous address.
            </div>
          </div>
          <div class="input text zip-code span-12 last">
            <label for="prev_zip_code">Previous Zip Code</label>
            <input id="prev_zip_code" name="prev_zip_code" type="text" />
            <input name="prev_city" id="prev_city" type="hidden" />
            <input name="prev_state_id" id="prev_state_id" type="hidden" />
            <div class="zip-code-location-hint"></div>
          </div>
        </div>
      </fieldset>
      <fieldset class="name">
        <div class="row">
          <div class="input select span-4">
            <label for="name_title">Title</label>
            <select required name="name_title">
              <option value="--">--</option>
              <option value="Mr.">Mr.</option>
              <option value="Ms.">Ms.</option>
              <option value="Mrs.">Mrs.</option>
              <option value="Dr.">Dr.</option>
            </select>
          </div>
          <div class="input text span-8">
            <label for="first_name">First Name</label>
            <input required id="first_name" name="first_name" type="text" />
            <div class="full-name-hint tooltip">Use your full first name. Do not use nicknames or initials.</div>
          </div>
          <div class="input text span-8">
            <label for="last_name">Last Name</label>
            <input required id="last_name" name="last_name" type="text" />
          </div>
          <div class="input select span-4 last">
            <label for="name_suffix">Suffix</label>
            <select id="name_suffix" name="name_suffix">
              <option value="--">--</option>
              <option value="Jr.">Jr.</option>
              <option value="Sr.">Sr.</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input checkbox span-8">
            <input required checked id="us_citizen" name="us_citizen" value="1" type="checkbox" />
            <label for="us_citizen">I am a U.S. Citizen</label>
          </div>
          <div class="input checkbox span-16 last">
            <input id="change_of_name" name="change_of_name" value="1" type="checkbox" />
            <label for="change_of_name">I have recently changed my name</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="previous-name closed">
        <h3>Previous Name</h3>
        <div class="row">
          <div class="input select span-4">
            <label for="prev_name_title">Title</label>
            <select name="prev_name_title">
              <option value="--">--</option>
              <option value="Mr.">Mr.</option>
              <option value="Ms.">Ms.</option>
              <option value="Mrs.">Mrs.</option>
              <option value="Dr.">Dr.</option>
            </select>
          </div>
          <div class="input text span-8">
            <label for="prev_first_name">First Name</label>
            <input id="prev_first_name" name="prev_first_name" type="text" />
          </div>
          <div class="input text span-8">
            <label for="prev_last_name">Last Name</label>
            <input id="prev_last_name" name="prev_last_name" type="text" />
          </div>
          <div class="input select span-4 last">
            <label for="prev_name_suffix">Suffix</label>
            <select name="prev_name_suffix">
              <option value="--">--</option>
              <option value="Jr.">Jr.</option>
              <option value="Sr.">Sr.</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
          <div class="input text span-16 id-number">
            <label for="id_number">ID Number</label>
            <input id="id_number" name="id_number" type="text" />
            <div class="id-number-hint-icon"></div>
            <div class="id-number-hint tooltip">
              {{ staterequirements.id_number_msg }}
            </div>
          </div>
          <div class="input text span-8 last">
            <label for="date_of_birth">Birthdate</label>
            <input required placeholder="MM/DD/YY" id="date_of_birth" name="date_of_birth" type="text" />
          </div>
        </div>
        <div class="row">
          <div class="input text span-12">
            <label for="email_address">Email Address</label>
            <input required type="email" id="email_address" name="email_address" />
          </div>
          <div class="input text span-7">
            <label for="phone">Phone Number</label>
            <input id="phone" name="phone" type="text" />
          </div>
          <div class="input select span-5 last">
            <label for="phone_type">Type</label>
            <select required id="phone_type" name="phone_type">
              <option value="Mobile">Mobile</option>
              <option value="Home">Home</option>
              <option value="Work">Work</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="input select span-12">
          <label for="party">Political Affiliation</label>
          <select {% if staterequirements.requires_party %}required{% endif %} id="party" name="party">
            <option value="Select One...">Select One...</option>
          	{% for party in staterequirements.party_list %}
          	<option value="{{ party }}">{{ party }}</option>
          	{% endfor %}
          	{% if staterequirements.no_party_msg %}
          	<option value="{{ staterequirements.no_party_msg }}">{{ staterequirements.no_party_msg }}</option>
          	{% endif %}
          </select>
          <div class="political-affiliation-hint tooltip">{{ staterequirements.requires_party_msg }}</div>
        </div>
        <div class="input select span-12 last">
          <label for="race">Race or Ethnic Group</label>
          <select {% if staterequirements.requires_race %}required{% endif %} id="race" name="race">
            <option value="Select One...">Select One...</option>
            <option value="American Indian / Alaskan Native">American Indian / Alaskan Native</option>
            <option value="Asian / Pacific Islander">Asian / Pacific Islander</option>
            <option value="Black (Not Hispanic)">Black (Not Hispanic)</option>
            <option value="Hispanic">Hispanic</option>
            <option value="White (Not Hispanic)">White (Not Hispanic)</option>
            <option value="Multi-racial">Multi-racial</option>
            <option value="Other">Other</option>
            <option value="Decline to State">Decline to State</option>
          </select>
          <div class="race-hint tooltip">{{ staterequirements.requires_race_msg }}</div>
        </div>
      </fieldset>
      <fieldset class="submit">
        <div class="inputs">
          {% comment %}
          <div class="input checkbox">
            <input id="opt_in_email" name="opt_in_email" value="1" type="checkbox" />
            <label for="opt_in_email">Receive Email Updates from Rock The Vote</label>
          </div>            
          {% endcomment %}
          <div class="input checkbox">
            <input checked id="opt_in_sms" name="opt_in_sms" value="1" type="checkbox" />
            <label for="opt_in_sms">Send me txt messages from Rock the Vote <span class="subtle">(data &amp; msg rates may apply)</span></label>
          </div>
          <div class="input checkbox">
            <input id="volunteer" name="volunteer" value="0" type="checkbox" />
            <label for="volunteer">I would like to volunteer with Rock the Vote</label>
          </div>
          {% comment %} New inputs for CEL {% endcomment %}
          {% comment %} deactivate while in testing
          <div class="input checkbox">
            <input id="email_cel" name="email_cel" value="1" type="checkbox" />
            <label for="email_cel">I want to learn more about opportunities for activism in my community</label>
          </div>
          {% endcomment %}
        </div>
        {% comment %} Hidden field, default to true {% endcomment %}
        <input id="opt_in_email" name="opt_in_email" value="1" type="hidden" />
        
        {% comment %} Hidden but Required Fields {% endcomment %}
        <input type="hidden" name="lang" value="en">
        <input type="hidden" name="partner_id" value="{{ partner_id }}">
        <button class="button button-primary" tabindex="20" type="submit">Register</button>
      </fieldset>
    </form>
  
{%endblock content%}
