{%extends "base.html"%}

{%block title%}Register to Vote{%endblock title%}

{%block scripts%}
<script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/form.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/tooltips.js"></script>
{%endblock scripts%}

{%block content%}
			<h1>Register To Vote</h1>
			<a id="top_link" href="/">Start Over</a>
			<section id="state_form">
				<form action="" method="get" id="get_started">
					<fieldset id="get_started">
						<legend class="accordion-header">Get Registered!</legend>
						<p>Registering to vote is easy -- and you can do it now.</p>
						<ul>
							<li>
								<label for="pre_first_name">First Name</label>
								<input type="text" name="first_name" id="pre_first_name"  />			

							</li>
							<li>
								<label for="pre_last_name">Last Name</label>
								<input type="text" name="last_name" id="pre_last_name"  />			
							</li>
							<li>
								<label for="pre_email_address">Email Address</label>
								<input type="text"  name="email_address" id="pre_email_address" />			
								<p class="tooltip">
									<a id="tooltip_email">?</a>
									<span class="tooltip_text" id="tooltip_text_email">We will e-mail you a copy of your voter registration form.</span>
								</p>
							</li>
							<li>
								<label for="pre_zip_code">Zip Code</label>
								<input type="text"  name="zip_code" id="pre_zip_code" />			
								<p class="tooltip">
									<a id="tooltip_zip_code">?</a>
									<span class="tooltip_text" id="tooltip_text_zip_code">
										Enter ZIP code for the address where you live, even if you don't receive mail there.
									</span>
								</p>
							</li>
							<li class="form-action">
								<input type="hidden" name="lang" id="lang_id" value="en">			
								<input type="submit" id="get_started" value="Get Started" />			
							</li>
						</ul>
					</fieldset>
				</form>
			</section>
		<section id="registration_form">
			<form action="" method="post" id="registration">
			<fieldset id="address">
				<legend class="accordion-header">Address Information </legend>
				<ul>
					<li>
						<label for="home_address">Address</label>
						<input type="text" name="home_address" id="home_address" />	
					</li>
					<li class="no_clear">
						<label for="home_unit">Unit</label>
						<input type="text" name="home_unit" id="home_unit" />		
					</li>
					<li class="city">		
						<label for="home_city">City</label>
						<input type="text" name="home_city" id="home_city" />		
					</li>
					<li class="no_clear">
						<label for="home_state_id">State</label>
						<input type="text" name="home_state_id" id="home_state_id" />
						<p class ="tooltip">
							<a id="tooltip_address">?</a>
							<span class="tooltip_text" id="tooltip_text_address">Put your home address in these boxes. Do not put your mailing address here if it is different from your home address. Do not use a post office box or rural route without a box number. If you live in a rural area but do not have a street address, or if you have no address, please show where you live using the map on the printed form.</span>
						</p>
					</li>
					<li class="no_clear">
						<label for="home_zip_code">Zip Code</label>
						<input type="text"  name="home_zip_code" id="home_zip_code" />
					</li>	
					<li class="checkbox">
						<label class="checkbox_label" for="has_different_address">
							<input type="checkbox" name="has_different_address" id="has_different_address" />
								I have a different mailing address.
						</label>
						<p class="tooltip tooltip_checkbox"><a id="tooltip_has_different_address">?</a><span class="tooltip_text" id="tooltip_text_has_different_address"> If you receive mail at a different address, please enter it here.</span></p>
					</li>						
					<div class="mailing"> 
						<li>
							<label for="mailing_address">Address</label>
							<input type="text" name="mailing_address" id="mailing_address" />
						</li>
						<li class="no_clear">
							<label for="home_unit">Unit</label>
							<input type="text" name="mailing_unit" id="mailing_unit" />		
						</li>
						<li class="city">
							<label for="mailing_city">City</label>
							<input type="text" name="mailing_city" class="span2" id="city" />
						</li>
						<li class="no_clear">
							<label for="mailing_state">State</label>
							<input type="text" name="mailing_state" class="span1" id="state" />
						</li>
						<li class="no_clear" >
							<label for="mailing_zip_code">Zip Code</label> 
							<input type="text" name="mailing_zip_code" id="mailing_zip_code"/>
						</li>
					</div>
					<li class="checkbox">
						<label class="checkbox_label" for="change_of_address">
							<input type="checkbox" name="change_of_address" id="change_of_address" /> I have recently moved.
						</label>
						<p class="tooltip tooltip_checkbox">
							<a id="tooltip_change_of_address">?</a>
							<span class="tooltip_text" id="tooltip_text_change_of_address">
								If you have moved since your last registration, enter your previous address.</span>
						</p>
					</li>
					<div class="address-change">
						<li>
							<label for="prev_address">Address</label>
							<input type="text" name="prev_address" />
						</li>
						<li class="no_clear">
							<label for="prev_unit">Unit</label>
							<input type="text" name="prev_unit" id="prev_unit" />		
						</li>
						<li class="city">
							<label for="prev_city">City</label>
							<input type="text" name="prev_city" id="prev_city" />
						</li>
						<li class="no_clear">
							<label for="prev_state_id">State</label>
							<input type="text" name="prev_state_id" id="prev_state_id" />
						</li>
						<li class="no_clear">
							<label for="prev_zip_code">Zip Code</label> 
							<input type="text" name="prev_zip_code" id="prev_zip_code"/>
						</li>
					</div>
					<li>
						<a href="http://overseasvotefoundation.org">Registering Abroad?</a>
					</li>
				</ul>
			</fieldset>
			<fieldset id="personal_info">
				<legend class="accordion-header">Personal Information </legend>
				<ul>
					<li class="title">
						<label for="name_title">Title</label>
						<select name="name_title" id="name_title">
							<option value=""></option>
							<option value="Mr.">Mr.</option>
							<option value="Mrs.">Mrs.</option>
							<option value="Miss">Miss</option>
							<option value="Ms.">Ms.</option>
						</select>
					</li>
					<li class="no_clear">
						<label for="first_name">First Name</label>
						<input type="text" name="first_name" id="first_name"  />
					</li>
					<li class="no_clear">
						<label for="last_name">Last Name</label>
						<input type="text" name="last_name" id="last_name"  />
						<p class ="tooltip"><a id="tooltip_personal">?</a><span class="tooltip_text" id="tooltip_text_personal">
							Put your full name in these boxes. Please do not use nicknames or initials.</span></p>
					</li>
					<li class="checkbox">
						<label class="checkbox_label" for="change_of_name">
						<input type="checkbox" name="change_of_name" id="change_of_name" /> 
						I have changed my name.</label>
						<p class ="tooltip tooltip_checkbox"><a id="tooltip_change_of_name">?</a><span class="tooltip_text" id="tooltip_text_change_of_name">
							If you have changed your name since your last registration, enter your previous name.</span></p>
					</li>
					<div class="name-change">
						<li class="title">
							<label for="prev_name_title">Title</label>
							<select name="prev_name_title" id="prev_name_title">
								<option value=""></option>
								<option value="Mr.">Mr.</option>
								<option value="Mrs.">Mrs.</option>
								<option value="Miss">Miss</option>
								<option value="Ms.">Ms.</option>
							</select>
						</li>
						<li class="no_clear">
							<label for="prev_first_name">First Name</label>
							<input type="text" name="prev_first_name" id="prev_first_name"  />
						</li>
						<li class="no_clear">
							<label for="prev_last_name">Last Name</label>
							<input type="text" name="prev_last_name" id="prev_last_name"  />
						</li>
					</div>
					<li>
						<label for="id_number">ID Number</label>
						<input type="text"  name="id_number" id="id_number">
						<p class="tooltip"><a id="tooltip_id_number">?</a><span class="tooltip_text" id="tooltip_text_id_number"></span></p>
						
					</li>
					<li>
						<label for="date_of_birth">Date of Birth</label>
						<input type="text"  name="date_of_birth" id="date_of_birth" />
						<p class="tooltip">
							<a id="tooltip_dob">?</a>
							<span class="tooltip_text" id="tooltip_text_dob">On your voter registration application, you are required to indicate whether you will be 18 years old on or before election day. However, many states allow you to register before your 18th birthday, so please click <a href="http://www.rockthevote.com/voter-registration/online-application-system/register-before-you-are-18-rules.html">here</a> to see the rule for your state.</span>
						</p>
					</li>
				</ul>
			</fieldset>		
			<fieldset>
				<legend class="accordion-header">Contact Information</legend>
				<ul>
					<li>
						<label for="email_address">Email Address</label>
						<input type="text" name="email_address" id="email_address" />
					</li>
					<li>
						<label for="opt_in_email">
						<input type="checkbox" name="opt_in_email" id="opt_in_email" /> I want to receive updates via email.</label>
					</li>
					<li>
						<label  for="phone">Phone</label>
						<input type="text" name="phone" id="phone" />
						<p class="tooltip"><a id="tooltip_phone">?</a><span class="tooltip_text" id="tooltip_text_phone"></span></p>
						
					</li>
					<li>
						<label for="opt_in_sms">
							<input type="checkbox" name="opt_in_sms" id="opt_in_sms" /> Receive text messages from Rock The Vote.
							
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend class="accordion-header">Additional Information</legend>
				<ul>
					<li>
						<label for="race">Race</label>
						<select id="race" name="race" >
							<option value=""></option>
							<option value="American Indian / Alaskan Native">American Indian / Alaskan Native</option>
							<option value="Asian / Pacific Islander">Asian / Pacific Islander</option>
							<option value="Black (Not Hispanic">Black (Not Hispanic)</option>
							<option value="Hispanic">Hispanic</option>
							<option value="Multi-racial">Multi-racial</option>
							<option value="White (not Hispanic)">White (not Hispanic)</option>
							<option value="Other">Other</option>
							<option value="Decline to State">Decline to State</option>
						</select>
						<p class="tooltip-select"><a id="tooltip_race">?</a><span class="tooltip_text" id="tooltip_text_race"></span></p>
						
					</li>
					<li class="party">
						<label for="party">Party</label>
							<select id="party" name="party">
								<option value=""></option>
							</select>
						<p class="tooltip-select"><a id="tooltip_party">?</a> <span class="tooltip_text" id="tooltip_text_party"></span></p>
						
					</li>
					<li>
						<label for="us_citizen">
							<input type="checkbox" name="us_citizen" id="us_citizen" checked='checked'/> I am a US Citizen
						</label>
					</li>
					<li class="form-action">
						<input type="submit" id="register" value="Register" />
					</li>
				</ul>
			</fieldset>
		</form>
		</section>
{%endblock content%}
