{% extends "form_direct.html" %}

{%block add_state_iframe%}
<script type="text/javascript">
    function add_state_iframe() {
      var fn = $('input#first_name').val();
      var ln = $('input#last_name').val();
      var dob = $('input#date_of_birth').val();
      $('#content').append('<iframe src="https://weiapplets.sos.wa.gov/myvote/myvote?'+
        'language=en&amp;Org=RocktheVote&amp;'+
        'firstname='+fn+'&amp;lastName='+ln+'&amp;DOB='+encodeURIComponent(dob)+
        '" width="600" height="725"></iframe>');
    }
  </script>
{%endblock%}
 
{%block state_explanation%}
<div id="state-explanation" class="explanation" style="display:none">
{%blocktrans%}<p>You can complete your voter registration online with the Washington below.</p>{%endblocktrans%}
{%blocktrans%}<p>If your driver's license or state identification card is invalid or the state can't find or confirm your DMV record, don't worry—you can also <a href='javascript:redirectToRegularForm()'> finish your registration with Rock the Vote</a>. You will just have to print, sign, and mail it in.</p>{%endblocktrans%}
</div>
{%endblock%}