{% extends "base.html" %}
{% load i18n %} 

{% block title%}{% trans "Register to Vote" %}{%if state_name%}| {{ state_name }}{%endif%}{%endblock title%}

{% block scripts %}
	<script src="{{STATIC_URL}}javascripts/form.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('a#toggle_questions').click(function(event) {
        event.preventDefault();
        $('div.questions').toggle();
      });

      //pull url parameters into fields
      var url_params = window.location.search.split('&')
      for (i in url_params) {
        var p = url_params[i];
        var field = p.split('=')[0].replace('?','');
        var value = p.split('=')[1];
        if (field == "name_title") {
          $('select[name="name_title"] option[value="'+decodeURIComponent(value)+'"]').attr('selected','selected');
          $('select[name="name_title"]').siblings('.fake-select').html(value);
        } else {
          $('input[name="'+field+'"]').val(decodeURIComponent(value)).trigger('change');
        }
      }
    });
  </script>
{% endblock scripts %}

{%block styles%}
<style>
fieldset.surveyquestions h2 { 
  color: #797569;
  font-size:14px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight:bold;
  margin-bottom:5px;
}
fieldset.surveyquestions .questions label {
  font-weight:normal;
}

fieldset.surveyquestions div.radios label {
  display:inline-block;
  font-weight:normal;
}
</style>

{%endblock%}

{%block content%}
<div class="span-24 last" style="padding: 19px 20px 3px">
  {%if LANGUAGE_CODE == "en" %}<a class="locale" tabindex="-1" href="?locale=es">En espa&ntilde;ol</a>
{%else%}<a class="locale" tabindex="-1" href="?locale=en">In english</a>{%endif%}
</div>

    <form class="registration-form" method="post" action="/registrants/submit/" accept-charset="UTF-8">
      {% csrf_token %}
      <fieldset class="name">
        <div class="row">
          <div class="input select span-4">
            <label for="name_title">{% trans "Title" %}</label>
            <select required name="name_title">
              <option value="--">--</option>
              <option value="{% trans 'Mr.' %}">{% trans 'Mr.' %}</option>
              <option value="{% trans 'Ms.' %}">{% trans 'Ms.' %}</option>
              <option value="{% trans 'Mrs.' %}.">{% trans 'Mrs.' %}</option>
            </select>
          </div>
          <div class="input text span-8">
            <label for="first_name">{% trans "First Name" %}</label>
            <input required id="first_name" name="first_name" type="text" />
            <div class="full-name-hint tooltip">{% trans "Use your full first name. Do not use nicknames or initials."%}</div>
          </div>
          <div class="input text span-8">
            <label for="last_name">{% trans "Last Name" %}</label>
            <input required id="last_name" name="last_name" type="text" />
          </div>
          <div class="input select span-4 last">
            <label for="name_suffix">{% trans "Suffix" %}</label>
            <select id="name_suffix" name="name_suffix">
              <option value="--">--</option>
              <option value="Jr.">Jr.</option>
              <option value="Sr.">Sr.</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
            </select>
            <div class="id-number-hint tooltip">
              {% trans "optional" %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input checkbox span-8">
            <input required checked id="us_citizen" name="us_citizen" value="1" type="checkbox" />
            <label for="us_citizen">{% trans "I am a U.S. Citizen" %}</label>
          </div>
          <div class="input checkbox span-16 last">
            <input id="change_of_name" name="change_of_name" value="1" type="checkbox" />
            <label for="change_of_name">{% trans "I have recently changed my name" %}</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="previous-name closed">
        <h3>{% trans "Previous Name" %}</h3>
        <div class="row">
          <div class="input select span-4">
            <label for="prev_name_title">{% trans "Title" %}</label>
            <select name="prev_name_title">
              <option value="{% trans 'Mr.' %}">{% trans 'Mr.' %}</option>
              <option value="{% trans 'Ms.' %}">{% trans 'Ms.' %}</option>
              <option value="{% trans 'Mrs.' %}.">{% trans 'Mrs.' %}</option>
            </select>
          </div>
          <div class="input text span-8">
            <label for="prev_first_name">{% trans "First Name" %}</label>
            <input id="prev_first_name" name="prev_first_name" type="text" />
          </div>
          <div class="input text span-8">
            <label for="prev_last_name">{% trans "Last Name" %}</label>
            <input id="prev_last_name" name="prev_last_name" type="text" />
          </div>
          <div class="input select span-4 last">
            <label for="prev_name_suffix">{% trans "Suffix" %}</label>
            <select name="prev_name_suffix">
              <option value="--">--</option>
              <option value="Jr.">Jr.</option>
              <option value="Sr.">Sr.</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
            </select>
            <div class="id-number-hint tooltip">
              {% trans "optional" %}
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="address">
        <div class="row">
          <div class="input text span-12">
            <label for="home_address">{% trans "Street Address" %}</label>
            <input required id="home_address" name="home_address" type="text" />
            <div class="home-address-hint tooltip">
              {% trans "Put your home address in these boxes. Do not put your mailing address here if it is different from your home address. Do not use a post office box or rural route without a box number. If you live in a rural area but do not have a street address, or if you have no address, please show where you live using the map on the printed form." %}
            </div>
          </div>
          <div class="input text zip-code span-12 last">
            <a class="incorrect-location" tabindex="-1" href="../map/{%if has_partner%}?partner={{partner}}{%endif%}">{% trans "Not in"%} {{ state }}?</a>
            <label for="home_zip_code">{% trans "Zip Code" %}</label>
            <input required id="home_zip_code" name="home_zip_code" type="text" />
            <div class="home_zip_code-hint tooltip">{% trans "Enter a valid 5 digit zip code."%}</div>
            <input name="home_city" id="home_city" type="hidden" />
            <input name="home_state_id" id="home_state_id" type="hidden" />
            <div class="zip-code-location-hint"></div>
          </div>
        </div>
        <div class="row">
          <div class="span-6">
            <a tabindex="-1" href="http://www.rockthevote.com/voting-is-easy/voting-rights/overseas-rights/overseas.html">{% trans "Registering Abroad?" %}</a>
          </div>
          <div class="input checkbox span-10">
            <input id="has_mailing_address" name="has_mailing_address" value="1" type="checkbox" />
            <label for="has_mailing_address">{% trans "I have a different mailing address" %}</label>
          </div>
          <div class="input checkbox span-8 last">
            <input id="change_of_address" name="change_of_address" value="1" type="checkbox" />
            <label for="change_of_address">{% trans "I have recently moved" %}</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="mailing-address closed">
        <div class="row">
          <div class="input text span-12">
            <label for="mailing_address">{% trans "Mailing Street Address" %}</label>
            <input id="mailing_address" name="mailing_address" type="text" />
            <div class="mailing-address-hint tooltip">
              {% trans "If you receive mail at a different address, please enter it here." %}
            </div>
          </div>
          <div class="input text zip-code span-12 last">
            <label for="mailing_zip_code">{% trans "Mailing Zip Code" %}</label>
            <input id="mailing_zip_code" name="mailing_zip_code" type="text" />
            <div class="mailing_zip_code-hint tooltip">{% trans "Enter a valid 5 digit zip code."%}</div>
            <input name="mailing_city" id="mailing_city" type="hidden" />
            <input name="mailing_state" id="mailing_state" type="hidden" />
            <div class="zip-code-location-hint"></div>
          </div>
        </div>
      </fieldset>
      <fieldset class="previous-address closed">
        <div class="row">
          <div class="input text span-12">
            <label for="prev_address">{% trans "Previous Street Address" %}</label>
            <input id="prev_address" name="prev_address" type="text" />
            <div class="previous-address-hint tooltip">
              {% trans "If you have moved since your last registration, enter your previous address." %}
            </div>
          </div>
          <div class="input text zip-code span-12 last">
            <label for="prev_zip_code">{% trans "Previous Zip Code" %}</label>
            <input id="prev_zip_code" name="prev_zip_code" type="text" />
            <div class="prev_zip_code-hint tooltip">{% trans "Enter a valid 5 digit zip code."%}</div>
            <input name="prev_city" id="prev_city" type="hidden" />
            <input name="prev_state_id" id="prev_state_id" type="hidden" />
            <div class="zip-code-location-hint"></div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="row">
          <div class="input text span-16 id-number">
            <label for="id_number">{% trans "ID Number" %}</label>
            <input id="id_number" name="id_number" type="text" />
            <div class="id-number-hint-icon"></div>
            <div class="id-number-hint tooltip">
              {{ staterequirements.id_number_msg }}
            </div>
          </div>
          <div class="input text span-8 last">
            <label for="date_of_birth">{% trans "Birthdate" %}</label>
            <input required placeholder="MM/DD/YYYY" id="date_of_birth" name="date_of_birth" type="text" />
            <div class="date_of_birth-hint tooltip">{% trans "Enter your birthdate in MM/DD/YYYY format."%}</div>
          </div>
        </div>
        <div class="row">
          <div class="input text span-12">
            <label for="email_address">{% trans "Email Address" %}</label>
            <input required type="email" id="email_address" name="email_address" />
            <div class="email_address-hint tooltip">{% trans "Enter a valid email address."%}</div>
          </div>
          <div class="input text span-7">
            <label for="phone">{% trans "Phone Number" %}</label>
            <input id="phone" name="phone" type="text" />
            <div class="phone-hint tooltip">{% trans "Enter a phone number in xxx-xxx-xxxx format."%}</div>
          </div>
          <div class="input select span-5 last">
            <label for="phone_type">{% trans "Type" %}</label>
            <select required id="phone_type" name="phone_type">
              <option value="Mobile">{% trans "Mobile" %}</option>
              <option value="Home">{% trans "Home" %}</option>
              <option value="Work">{% trans "Work" %}</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="input select span-12">
          <label for="party">{% trans "Political Affiliation" %}</label>
          <select {% if staterequirements.requires_party %}required{% endif %} id="party" name="party">
            <option value="Select One...">{% trans "Select One..." %}</option>
          	{% for party in staterequirements.party_list %}
          	<option value="{{ party }}">{{ party }}</option>
          	{% endfor %}
          	{% if staterequirements.no_party_msg %}
          	<option value="{{ staterequirements.no_party_msg }}">{{ staterequirements.no_party_msg }}</option>
          	{% endif %}
          </select>
          <div class="political-affiliation-hint tooltip">{{ staterequirements.requires_party_msg }}</div>
        </div>
        <div class="input select span-12 last">
          <label for="race">{% trans "Race or Ethnic Group" %}</label>
          <select {% if staterequirements.requires_race %}required{% endif %} id="race" name="race">
            <option value="Select One...">{% trans "Select One..."%}</option>
            <option value="{% trans 'American Indian / Alaskan Native' %}">{% trans "American Indian / Alaskan Native" %}</option>
            <option value="{% trans 'Asian / Pacific Islander' %}">{% trans "Asian / Pacific Islander" %}</option>
            <option value="{% trans 'Black (not Hispanic)' %}">{% trans "Black (not Hispanic)" %}</option>
            <option value="{% trans 'Hispanic' %}">{% trans "Hispanic" %}</option>
            <option value="{% trans 'White (not Hispanic)' %}">{% trans "White (not Hispanic)" %}</option>
            <option value="{% trans 'Multi-racial' %}">{% trans "Multi-racial" %}</option>
            <option value="{% trans 'Other' %}">{% trans "Other" %}</option>
            <option value="{% trans 'Decline to State' %}">{% trans "Decline to State" %}</option>
          </select>
          <div class="race-hint tooltip">{{ staterequirements.requires_race_msg }}</div>
        </div>
      </fieldset>

      <fieldset class="surveyquestions">
        {% comment %} Cobranded questions override customform questions {% endcomment %}
        {%if cobrandform and cobrandform.question_1%}
          <h2>{% trans "Survey Questions (optional)"%}</h2>
          <div class="input questions">
            {%if cobrandform.question_1 %}
              <div class="input span-12">
                <label for="question1">{{cobrandform.question_1}}</label>
                {%if cobrandform.question_1_customhtml%}
                {{cobrandform.question_1_customhtml|safe}}
                {%else%}
                <input id="question1" name="survey_answer_1" type="text"/>
                <div class="question-hint tooltip">{% trans "Optional" %}</div>
                {%endif%}
              </div>
            {%endif%}
            {%if cobrandform.question_2 %}
              <div class="input span-12 last">
                <label for="question2">{{cobrandform.question_2}}</label>
                {%if cobrandform.question_2_customhtml%}
                {{cobrandform.question_2_customhtml|safe}}
                {%else%}
                <input id="question2" name="survey_answer_2" type="text"/>
                <div class="question-hint tooltip">{% trans "Optional" %}</div>
                {%endif%}
              </div>
            {%endif%}
          </div>
        {%elif customform and customform.question_1%}
          {% comment %}Then custom form{% endcomment %}
          <h2>{% trans "Survey Questions (optional)"%}</h2>
          <div class="input questions">
            {%if customform.question_1 %}
              <div class="input span-12">
                <label for="question1">{{customform.question_1}}</label>
                <input id="question1" name="survey_answer_1" type="text"/>
                <div class="question-hint tooltip">{% trans "Optional" %}</div>
              </div>
            {%endif%}
            {%if customform.question_2 %}
              <div class="input span-12 last">
                <label for="question2">{{customform.question_2}}</label>
                <input id="question2" name="survey_answer_2" type="text"/>
                <div class="question-hint tooltip">{% trans "Optional" %}</div>
              </div>
            {%endif%}
          </div>
        {%else%}
          {% comment %} Neither custom nor cobrand, use the default RTV questions for testing {% endcomment %}
          <h2>{% trans "Survey Questions (optional)"%}</h2>
          <div class="input questions">
            <div class="input span-12">
              <label for="question1">{% trans "If you are in school, where do you go?" %}</label>
              <input id="question1" name="survey_answer_1" type="text"/>
              <div class="question-hint tooltip">{% trans "Optional" %}</div>
            </div>
            <div class="input span-12 last">
              <label for="question2">{% trans "What issue do you care most about?" %}</label>
              <input id="question2" name="survey_answer_2" type="text"/>
              <div class="question-hint tooltip">{% trans "Optional" %}</div>
            </div>
          </div>
{% comment %}
          <!-- New voter survey layout, for testing -->
          <h2>{% trans "Why are you voting? (optional)"%}</h2>
          <div class="input questions span-24 radios">
            <input id="question1" name="survey_answer_1" type="radio" value="economy"/>
            <label for="question1">Economy</label>
            <input id="question2" name="survey_answer_1" type="radio" value="education"/>
            <label for="question2">Education</label>
            <input id="question3" name="survey_answer_1" type="radio" value="womens-rights"/>
            <label for="question3">Womens Rights</label>
            <input id="question4" name="survey_answer_1" type="radio" value="civil-rights"/>
            <label for="question4">Civil Rights</label>
            <input id="question5" name="survey_answer_1" type="radio" value="climate-change"/>
            <label for="question5">Climate Change</label>
          </div>
{% endcomment %}
        {%endif%}
      </fieldset>

      <fieldset class="submit">
        <div class="inputs">
          <div class="input checkbox">
            {% if customform %}
              {% if cobrandform %}
                {% comment %} If customform and cobrand form, RTV and custom share main optin, cobrand gets secondary.{% endcomment %}
                <input id="opt_in_email" name="opt_in_email" type="checkbox" checked="checked" />
                <label for="opt_in_email">
                  {%if customform.email_optin_text%}{{customform.email_optin_text}}
                    {%else%}{% trans "Receive Email Updates from" %} {{customform.name}}.{%endif%}
                  {%if customform.privacy_policy_link%}
                    <span class="subtle"><a href="{{customform.privacy_policy_link}}" target="_blank">({{customform.name}} {% trans "privacy policy" %})</a></span>
                  {%endif%}
                </label>
              {%else%}
                {% comment %} If customform but not cobrand form, show partner optin as main email signup, and opt-out of RTV.{% endcomment %}
                <input id="opt_in_email" name="opt_in_email" type="hidden" value="0" />
                <input id="partner_opt_in_email" name="partner_opt_in_email" type="checkbox" checked="checked" />
                <label for="partner_opt_in_email">
                  {%if customform.email_optin_text%}{{customform.email_optin_text}}
                    {%else%}{% trans "Receive Email Updates from" %} {{customform.name}}.{%endif%}
                  {%if customform.privacy_policy_link%}
                    <span class="subtle"><a href="{{customform.privacy_policy_link}}" target="_blank">({{customform.name}} {% trans "privacy policy"%})</a></span>
                  {%endif%}
                </label>
              {%endif%}
            {%else%}
            {% comment %} Normal flow, display rockthevote opt_in {% endcomment %}
            <input id="opt_in_email" name="opt_in_email" type="checkbox" checked="checked" />
            <label for="opt_in_email">
              {% trans "Receive Email Updates from Rock the Vote." %}
            </label>
            {%endif%}
          </div>

          {%if customform.show_sms_box or not customform%}
          <div class="input checkbox">
            <input id="{%if customform %}partner_{%endif%}opt_in_sms"
            name="{%if customform %}partner_{%endif%}opt_in_sms" type="checkbox" checked="checked" />
            <label for="{%if customform %}partner_{%endif%}opt_in_sms">{%if customform%}
              {%if customform.sms_optin_text%}{{customform.sms_optin_text}}
                {%else%}{% trans "Send me txt messages from" %} {{customform.name}}.{%endif%}
              {%else%}{% trans "Send me txt messages from Rock the Vote."%}{%endif%}
              <span class="subtle">{% trans "(data &amp; msg rates may apply)"%}</span></label>
          </div>
          {%endif%}

          {%if customform.show_volunteer_box or not customform%}
          <div class="input checkbox">
            <input id="volunteer" name="volunteer" type="checkbox" />
            <label for="volunteer">{%if customform%}
              {%if customform.volunteer_text%}{{customform.volunteer_text}}
                {%else%}{% trans "I would like to volunteer with"%} {{customform.name}}.{%endif%}
              {%else%}{% trans "I would like to volunteer with Rock the Vote."%}{%endif%}</label>
          </div>
          {%endif%}

          {% if cobrandform.show_email_optin %}
          <div class="input checkbox">
            <input id="partner_opt_in_email" name="partner_opt_in_email" type="checkbox" {%if cobrandform.default_email_optin%}checked="checked"{%endif%} />
            <label for="partner_opt_in_email">
              {%if cobrandform.email_optin_text%}{{cobrandform.email_optin_text}}
                {%else%}{% trans "Receive Email Updates from"%} {{cobrandform.name}}.{%endif%}
              {%if cobrandform.privacy_policy_link%}
                <span class="subtle"><a href="{{cobrandform.privacy_policy_link}}" target="_blank">({{cobrandform.name}} {% trans "privacy policy"%})</a></span>
              {%endif%}
            </label>
          </div>
          {%endif%}

          {% comment %} New inputs for CEL {% endcomment %}
          {% comment %} deactivate while in testing
          <div class="input checkbox">
            <input id="email_cel" name="email_cel" value="1" type="checkbox" />
            <label for="email_cel">I want to learn more about opportunities for activism in my community</label>
          </div>
          {% endcomment %}
        </div>
        {% comment %} Hidden field, default to true
        <input id="opt_in_email" name="opt_in_email" value="1" type="hidden" />
        {% endcomment %}
        
        {% comment %} Hidden but Required Fields {% endcomment %}
        <input type="hidden" name="lang" value="en">
        <input type="hidden" name="partner_id" value="{{ partner }}">
        {%if source%}<input type="hidden" name="source" value="{{ source }}">{%endif%}
        <button class="button button-primary" tabindex="" type="submit">{% trans "Register"%}</button>
      </fieldset>
    </form>
  
{%endblock content%}
