{%extends "base.html"%}
{% load i18n %} 

{%block title%}{% trans "Register to Vote" %} | {% trans "Get Started" %}{%endblock title%}

{% block scripts %}
    <script src="{{STATIC_URL}}javascripts/form.js" type="text/javascript"></script>
{% endblock scripts %}

{% block body_class %}map{% endblock body_class %}

{%block styles%}
{%endblock styles%}

{%block content%}
<div class="span-24 last" style="padding: 19px 20px 3px">
  {%if LANGUAGE_CODE == "en" %}<a class="locale" tabindex="-1" href="?locale=es">En espa&ntilde;ol</a>
{%else%}<a class="locale" tabindex="-1" href="?locale=en">In english</a>{%endif%}
</div>
<form class="new-form registration-form" method="get" action="/registrants/new/" accept-charset="UTF-8">
    <fieldset class="name">
        <div class="row">
          <div class="input select span-6">
            <label for="name_title">{% trans "Title" %}</label>
            <select name="name_title">
              <option value="--">--</option>
              <option value="{% trans 'Mr.' %}">{% trans "Mr." %}</option>
              <option value="{% trans 'Ms.' %}">{% trans "Ms." %}</option>
              <option value="{% trans 'Mrs.' %}">{% trans "Mrs." %}</option>
            </select>
          </div>
          <div class="input text span-9">
            <label for="first_name">{% trans "First Name" %}</label>
            <input id="first_name" name="first_name" type="text" />
            <div class="full-name-hint tooltip">{% trans "Use your full first name. Do not use nicknames or initials." %}</div>
          </div>
          <div class="input text span-9 last">
            <label for="last_name">{% trans "Last Name" %}</label>
            <input id="last_name" name="last_name" type="text" />
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="row">
          <div class="input text span-12">
            <label for="email_address">{% trans "Email Address" %}</label>
            <input type="email" id="email_address" name="email_address" />
          </div>
          <div class="input text zip-code span-12 last">
            <label for="home_zip_code">{% trans "Zip Code" %}</label>
            <input id="home_zip_code" name="home_zip_code" type="text" />
            <input name="home_city" id="home_city" type="hidden" />
            <input name="state" id="home_state_id" type="hidden" />
            <div class="zip-code-location-hint"></div>
          </div>
        </div>
      </fieldset>

    <fieldset class="submit">
        <div class="span-12">
          <div class="input checkbox">
            <div class="fake-checkbox-wrap"><input required checked="" id="us_citizen" name="us_citizen" value="1" type="checkbox"><div class="fake-checkbox checked"></div></div>
              <label for="us_citizen">{% trans "I am a U.S. Citizen" %}</label>
            <div class="tooltip">{% trans "Must be a citizen to register" %}</div></div>
        </div>
            <button class="button button-primary" type="submit">{% trans "Continue" %}</button>
      </fieldset>

      {%if partner%}<input type="hidden" name="partner" value="{{partner}}" />{%endif%}
      {%if source%}<input type="hidden" name="source" value="{{source}}" />{%endif%}
  </form>
{%endblock content%}
