{%extends "base.html"%}

{%block title%}Register to Vote | Get Started{%endblock title%}

{% block scripts %}
    <script src="{{STATIC_URL}}javascripts/form.js" type="text/javascript"></script>
{% endblock scripts %}

{% block body_class %}map{% endblock body_class %}

{%block styles%}
{%endblock styles%}

{%block content%}
<form class="new-form" method="get" action="/registrants/new/" accept-charset="UTF-8">
    <fieldset class="name">
        <div class="row">
          <div class="input select span-4">
            <label for="name_title">Title</label>
            <select name="name_title">
              <option value="--">--</option>
              <option value="Mr.">Mr.</option>
              <option value="Ms.">Ms.</option>
              <option value="Mrs.">Mrs.</option>
              <option value="Dr.">Dr.</option>
            </select>
          </div>
          <div class="input text span-8">
            <label for="first_name">First Name</label>
            <input id="first_name" name="first_name" type="text" />
            <div class="full-name-hint tooltip">Use your full first name. Do not use nicknames or initials.</div>
          </div>
          <div class="input text span-8">
            <label for="last_name">Last Name</label>
            <input id="last_name" name="last_name" type="text" />
          </div>
        </div>
      </fieldset>

    <fieldset>
        <div class="row">
          <div class="input text span-12">
            <label for="email_address">Email Address</label>
            <input type="email" id="email_address" name="email_address" />
          </div>
          <div class="input text zip-code span-8 last">
            <label for="home_zip_code">Zip Code</label>
            <input id="home_zip_code" name="home_zip_code" type="text" />
            <input name="state" id="state" type="hidden" value="CA" />
            {% comment %}TEMPORARY SET THE STATE{% endcomment %}
          </div>
        </div>
      </fieldset>

    <fieldset class="submit">
        <div class="inputs">
          <div class="input checkbox span-8">
                <div class="fake-checkbox-wrap"><input required checked="" id="us_citizen" name="us_citizen" value="1" type="checkbox"><div class="fake-checkbox checked"></div></div>
                <label for="us_citizen">I am a U.S. Citizen</label>
              <div class="tooltip">Must be a citizen to register</div></div>
        
        </div>
        <div class="span-4 last">
            <button class="button button-primary" tabindex="20" type="submit">Continue</button>
        </div>
      </fieldset>

      {%if partner%}<input type="hidden" name="partner" value="{{partner}}" />{%endif%}
      {%if source%}<input type="hidden" name="source" value="{{source}}" />{%endif%}
  </form>
{%endblock content%}
