{%extends "admin/base_site.html"%}
{% load humanize %}

{% block content_title %}
<h1>OVR tool performance overall statistics</h1>
<a href="/admin/">&lt;&lt; back to admin</a>

{%endblock%}
{% block extrahead %}	

	<style type="text/css">
	#graph_all, #graph_singlepage, #graph_tabbed, #graph_accordion {
	width:800px;
	height:400px;
	margin: 0 auto;
	box-shadow: 0px -1px 1px #000;
}

p, h1 {
	text-align:center;
}

#graph_all .xAxis > .tickLabel 
{
    margin-top:100px;
    text-align:right !important;
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
	
	
	</style>
	
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.flot.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/graph.js"></script>
	

	
{% endblock %}
{%block content%}
<br><br>
Total registrations started: {{num_started|intcomma}}<br>
Total registrations finished: {{num_finished|intcomma}}<br>
Average fields completed per registrant: {{avg_fields_completed|floatformat}}<br>
<br>
By layout:
<table>
	<th><td>Single Page</td>
			<td>Tabs</td>
			<td>Accordion</td>
	</th>
	<tr><td>Started</td>
			<td>{{started_by_layout.singlepage}}</td>
			<td>{{started_by_layout.tabs}}</td>
			<td>{{started_by_layout.accordion}}</td>
		</tr>
	<tr><td>Finished</td>
			<td>{{finished_by_layout.singlepage}}</td>
			<td>{{finished_by_layout.tabs}}</td>
			<td>{{finished_by_layout.accordion}}</td>
		</tr>
	<tr><td>Completion Rate</td>
			<td>{{percent_by_layout.singlepage|floatformat}}%</td>
			<td>{{percent_by_layout.tabs|floatformat}}%</td>
			<td>{{percent_by_layout.accordion|floatformat}}%</td>
		</tr>
<table>

  <h1>Form field progress chart</h1>
    <h2>All</h2>
    <div id="graph_all"></div>
    <!--<h2>Single Page</h2>
    <div id="graph_singlepage"></div>
    <h2>Tabbed Page</h2>
    <div id="graph_tabbed"></div>
    <h2>Accordion Page</h2>
    <div id="graph_accordion"></div>-->


<script type="text/javascript">
{% for l,p in progress_by_layout%}
	var progress_{{l}} = eval({% templatetag openbrace %}{%for k,v in p.items%}{{k}}:{{v}}{%if not forloop.last%},{%endif%}{%endfor%}{% templatetag closebrace %});
{%endfor%}

console.log(progress_tabs);
console.log(progress_singlepage);
console.log(progress_accordion);
</script>
{%endblock%}