{%extends "base.html"%}

{%block styles%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/submit.css" />
{%endblock styles%}

{%block content%}
<section id="print_form">
<h1>You are not done.  Click on the print form button to print out your voter registration form.  Sign it and mail to the address located on the form.</h1>
<button type="submit"><a href="{{pdfurl}}" target="_blank">PRINT YOUR REGISTRATION FORM NOW</a></button>
<p>You won't be registered unless you print, sign and mail in your form!</p>
</section>
</div>
{%endblock content%}