{%extends "base.html"%}

{% block body_class %}finish{% endblock body_class %}

{%block scripts%}
{%endblock%}

{%block content%}
<section>
  {% if pdfurl %}
  <header>
    <h2>You're not quite done!</h2>
    <p>You still need to download your form.</p>
  </header>
  <div class="prepend-3 span-18 append-3 last">
	    <a class="button download button-primary" href="{{ pdfurl }}">Download</a>
  </div>

  <div class="prepend-3 span-18 append-3 last">
    <p class="subtle">(We've also e-mailed you a link to retreive your form later)</p>
  </div>

  {% elif error %}
  	<header>
  		<h2>Something went wrong :(</h2>
  	  	<p>{{ error }}</p>
  	</header>
  {% endif %}

</section>

{% comment %}Contest Platform Tease, not ready yet{% endcomment %}
{%comment%}
<section>
  <header>
    <h2>Get more involved!</h2>
    <p>Help your friends register to vote.</p>
  </header>
  <div class="image-well prepend-3 span-18 append-3 last">
    <img src="images/contest-tease.png" />
  </div>
</section>
{%endcomment%}
<section>
  <header>
    <h2>Spread the word!</h2>
  </header>
  <div class="prepend-3 span-18 append-3 last">
    <p>Social Media</p>
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
      </ul>
  </div>
</section>
{%endblock content%}