{%extends "base.html"%}

{%block styles%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/submit.css" />
{%endblock styles%}

{%block content%}

<script type="text/javascript">
$(document).ready(function() {
	{%if error%}
		$('#wait_form').append('<p class="error">Sorry, we seem to be experiencing an error. Please <a href="" onclick="history.back()">go back</a> and try again.<div class="error-message">{{error}}</div>');
		console.log('{{error}}');
	{%else%}
	/* force a delay, because we don't know when the API will return... */
	$('#wait_form').delay(2500).fadeOut();
	$('#print_form').delay(3000).fadeIn();
	$('#download_link').click(function(e) {
		//opens the pdf in a new window
		//advance to the thanks page via javascript
		$(".container").load("/registrants/finish #finish, link");
	});
	{%endif%}
});
</script>

<section id="wait_form">
<img src="http://s3.amazonaws.com/register2.rockthevote.com/img/big-spinner.gif" class="spinner">
<h1>Please wait while we generate your registration form</h1>
</section>

<section id="print_form">
<h1>You are not done.  Click on the print form button to print out your voter registration form.  Sign it and mail to the address located on the form.</h1>
<a id="download_link" href="{{pdfurl}}" target="_blank">PRINT YOUR REGISTRATION FORM NOW</a>
<p>You won't be registered unless you print, sign and mail in your form!</p>
</section>
{%endblock content%}