/* Imports */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e;
}
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 0 0 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
 * Correct overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button,
input {
  line-height: normal;
  *overflow: visible;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea {
  overflow: auto;
  vertical-align: top;
}
/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Structural */
html {
  background: #f0f0f0 url('../img/png.png');
}
header {
  margin: 0 auto;
  background-color: #343434;
  background-image: -moz-linear-gradient(top, #404040, #222222);
  background-image: -ms-linear-gradient(top, #404040, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#404040), to(#222222));
  background-image: -webkit-linear-gradient(top, #404040, #222222);
  background-image: -o-linear-gradient(top, #404040, #222222);
  background-image: linear-gradient(top, #404040, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#222222', GradientType=0);
}
header img#logo {
  float: right;
  padding-right: 20px;
  padding-top: 5px;
}
header h1 {
  color: #FFF;
  text-shadow: -1px -1px 1px #000000;
  text-align: center;
  font-size: 36px;
  line-height: 60px;
  font-variant: small-caps;
}
.container {
  width: 564px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  box-sizing: border-box;
}
.container h1 {
  margin: 0px;
  color: #000;
  -webkit-text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.35);
  -moz-text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.35);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.35);
  width: 230px;
}
fieldset {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
fieldset.mailing,
fieldset.address-change {
  clear: both;
}
fieldset#get_started > p {
  padding-top: 10px;
}
form ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  *zoom: 1;
  position: relative;
}
form ul:before,
form ul:after {
  display: table;
  content: "";
}
form ul:after {
  clear: both;
}
form ul li {
  float: left;
  clear: both;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 180px;
  position: relative;
  /* Setting the li to relative positioning ensures that the elements inside the tooltip wrapper animate properly.  */

}
form ul li.zipcode {
  width: 75px;
}
form ul li.address_city,
form ul li.state {
  display: none;
}
form ul li.checkbox {
  width: 100%;
  position: relative;
}
form ul li.changed_address {
  width: 240px;
  clear: none;
}
form ul li.has_mailing_address {
  width: 240px;
}
form ul li.prev-state,
form ul li.mailing-state {
  width: 150px;
  margin-left: 5px;
}
form ul li.prev-zip,
form ul li.mailing-zip {
  width: 70px;
}
form ul li.race {
  width: 240px;
}
form ul li.party {
  clear: none;
}
form ul li.buttons {
  margin: 0px;
}
form ul li.form-action {
  margin-bottom: 0px;
  width: 240px;
}
.address-change > h2,
#previous_name > h2,
.mailing > h2 {
  font-weight: bold;
  font-size: 13px;
  clear: both;
  margin-bottom: 10px;
  color: #222;
  text-decoration: underline;
}
li.state {
  width: 140px;
}
legend.visible {
  display: inline;
}
#home_unit,
#prev_unit,
#mailing_unit {
  width: 50px;
}
li.title {
  width: 60px;
  clear: none;
}
li.name {
  width: 33%;
}
legend {
  text-decoration: underline;
  color: #222;
  font-weight: bold;
}
.accordion-header {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #999;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  color: #FFF;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background-color: #adadad;
  background-image: -moz-linear-gradient(top, #b7b7b7, #9d9d9d);
  background-image: -ms-linear-gradient(top, #b7b7b7, #9d9d9d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b7b7b7), to(#9d9d9d));
  background-image: -webkit-linear-gradient(top, #b7b7b7, #9d9d9d);
  background-image: -o-linear-gradient(top, #b7b7b7, #9d9d9d);
  background-image: linear-gradient(top, #b7b7b7, #9d9d9d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7b7b7', endColorstr='#9d9d9d', GradientType=0);
  text-decoration: none;
}
footer {
  border-top: 1px solid #AAA;
  padding: 10px;
  text-align: center;
}
footer a {
  margin-left: 20px;
}
footer span {
  font-style: italic;
  font-size: 12px;
  width: 180px;
  margin-left: 40px;
}
label {
  display: block;
  margin-bottom: 1px;
}
input,
select,
textarea {
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
input.error,
select.error,
textarea.error {
  border: 1px solid #C00 !important;
}
.error-message {
  color: #C00;
}
.big-error {
  color: #C00;
}
.big-error h1 {
  width: 100%;
}
.big-error p {
  margin-top: 10px;
}
input[type="submit"],
input[type="button"],
button {
  clear: both;
  color: #FFF;
  background-color: #cc4b4f;
  background-image: -moz-linear-gradient(top, #dd6267, #b2272c);
  background-image: -ms-linear-gradient(top, #dd6267, #b2272c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd6267), to(#b2272c));
  background-image: -webkit-linear-gradient(top, #dd6267, #b2272c);
  background-image: -o-linear-gradient(top, #dd6267, #b2272c);
  background-image: linear-gradient(top, #dd6267, #b2272c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd6267', endColorstr='#b2272c', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #b2272c;
  width: 100px;
  height: 35px;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 -1px 0px rgba(0, 0, 0, 0.15), inset 0 0 15px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 -1px 0px rgba(0, 0, 0, 0.15), inset 0 0 15px rgba(255, 255, 255, 0.25);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 -1px 0px rgba(0, 0, 0, 0.15), inset 0 0 15px rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 -1px 0px rgba(0, 0, 0, 0.15), inset 0 0 15px rgba(255, 255, 255, 0.25);
}
input[type="submit"]:active,
input[type="button"]:active,
button:active {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 -1px 0px rgba(0, 0, 0, 0.15), inset 0 0 15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 -1px 0px rgba(0, 0, 0, 0.15), inset 0 0 15px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 -1px 0px rgba(0, 0, 0, 0.15), inset 0 0 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 0px rgba(255, 255, 255, 0.25), inset 0 -1px 0px rgba(0, 0, 0, 0.15), inset 0 0 15px rgba(0, 0, 0, 0.25);
}
button.btn-prev {
  background-color: #c9c9c9;
  background-image: -moz-linear-gradient(top, #dddddd, #aaaaaa);
  background-image: -ms-linear-gradient(top, #dddddd, #aaaaaa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#aaaaaa));
  background-image: -webkit-linear-gradient(top, #dddddd, #aaaaaa);
  background-image: -o-linear-gradient(top, #dddddd, #aaaaaa);
  background-image: linear-gradient(top, #dddddd, #aaaaaa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  border: 1px solid #777777;
  width: 70px;
  margin-left: 20px;
}
img.spinner {
  margin-left: 10px;
}
input#zip_code,
input#home_zip_code,
input#mailing_zip_code,
input#prev_zip_code {
  width: 50px;
}
input:not([type="submit"]):not([type="checkbox"]):not([type="button"]),
textarea {
  border: 1px solid #666;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: -ms-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: -o-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: linear-gradient(top, #f5f5f5, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 1px rgba(0, 0, 0, 0.15);
  width: 100%;
}
/* Formatting */
.no_clear {
  clear: none;
}
#print {
  display: none;
}
/* Tooltip Styles */
p.tooltip {
  display: inline;
  position: relative;
}
p.tooltip  > a {
  display: inline-block;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  font-weight: bold;
  color: #B2272C;
  background-color: #e3e3e3;
  background-image: -moz-linear-gradient(top, #f2f2f2, #cccccc);
  background-image: -ms-linear-gradient(top, #f2f2f2, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #cccccc);
  background-image: -o-linear-gradient(top, #f2f2f2, #cccccc);
  background-image: linear-gradient(top, #f2f2f2, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#cccccc', GradientType=0);
}
p.tooltip  > span {
  background-color: #ecf6fb;
  display: none;
  min-height: 30px;
  position: absolute;
  left: 30px;
  top: -20px;
  border: 8px solid #ADD9ED;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  color: #000;
  font-size: 11px;
  z-index: 1000;
  width: 200px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}
p.tooltip  > span:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 8px solid red;
  position: absolute;
  left: -24px;
  border-color: transparent #ADD9ED transparent transparent;
}
p.tooltip_checkbox {
  margin-right: 0px;
  margin-top: -2px;
}
p.tooltip_checkbox  > span {
  left: -220px;
  top: 30px;
}
p.tooltip_checkbox  > span:before {
  display: block;
  height: 0;
  width: 0;
  border: 8px solid red;
  position: absolute;
  left: 210px;
  border-color: transparent transparent #ADD9ED transparent;
  top: -23px;
}
p.tooltip-select {
  margin-left: 10px;
  margin-top: -2px;
}
p.tooltip-select  > span {
  left: -150px;
  top: 30px;
}
p.tooltip-select  > span:before {
  display: block;
  height: 0;
  width: 0;
  border: 8px solid red;
  position: absolute;
  left: 140px;
  border-color: transparent transparent #ADD9ED transparent;
  top: -23px;
}
button#top_link {
  float: left;
  width: 80px;
  height: 25px;
  margin-left: 20px;
  margin-top: 10px;
}
button#top_link a {
  text-decoration: none;
  color: #FFF;
}
#tab-indicators ol {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}
#tab-indicators ol li {
  position: relative;
  background-color: #dddddd;
  display: inline-block;
  *display: inline;
  height: 40px;
  line-height: 40px;
  width: 50px;
  text-align: center;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #AAA;
  padding-left: 25px;
}
#tab-indicators ol li:after {
  content: "";
  border: 20px solid #dddddd;
  border-color: transparent transparent transparent #dddddd;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 0;
  left: 100%;
  z-index: 100;
}
#tab-indicators ol li:first-child {
  padding-left: 10px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
#tab-indicators ol .tab.active,
#tab-indicators ol .tab.active.complete {
  background-color: #0074cc;
  color: white;
  position: relative;
}
#tab-indicators ol .tab.active:after,
#tab-indicators ol .tab.active.complete:after {
  border-color: transparent transparent transparent #0074cc;
}
#tab-indicators ol .tab.complete {
  background-color: #5bb75b;
  color: white;
  position: relative;
}
#tab-indicators ol .tab.complete:after {
  border-color: transparent transparent transparent #5bb75b;
}
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -58px;
  /* the bottom margin is the negative value of the footer's height */

}
.footer,
.push {
  height: 37px;
  /* .push must be the same height as .footer */

}
