/* Imports */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
 * Correct overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button,
input {
  line-height: normal;
  *overflow: visible;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea {
  overflow: auto;
  vertical-align: top;
}
/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Structural */
html {
  background: #f0f0f0;
}
header {
  background: #b4b4b4;
  height: 50px;
}
header img#logo {
  float: right;
  padding-right: 20px;
  padding-top: 5px;
}
header h1 {
  margin-top: 0px;
  padding-top: 8px;
  padding-left: 20px;
  color: #000;
  width: 200px;
  -webkit-text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.35);
  -moz-text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.35);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.35);
}
.container {
  width: 650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background: #f0f0f0;
}
.container h1 {
  color: #000;
  -webkit-text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.35);
  -moz-text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.35);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.35);
}
form {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
fieldset {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
fieldset#get_started > p {
  padding-top: 10px;
}
form ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  *zoom: 1;
}
form ul:before,
form ul:after {
  display: table;
  content: "";
}
form ul:after {
  clear: both;
}
form ul li {
  float: left;
  clear: both;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 230px;
}
form ul li.city {
  width: 185px;
}
form ul li.party {
  margin-top: 0px;
  margin-bottom: 20px;
}
li.state {
  width: 150px;
}
#home_unit,
#prev_unit,
#mailing_unit {
  width: 50px;
}
li.title {
  width: 60px;
}
legend.accordion-header {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #999;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.95);
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.95);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.95);
  background-color: #005e9a;
  background-image: -moz-linear-gradient(top, #006aae, #004b7b);
  background-image: -ms-linear-gradient(top, #006aae, #004b7b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#006aae), to(#004b7b));
  background-image: -webkit-linear-gradient(top, #006aae, #004b7b);
  background-image: -o-linear-gradient(top, #006aae, #004b7b);
  background-image: linear-gradient(top, #006aae, #004b7b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006aae', endColorstr='#004b7b', GradientType=0);
}
footer {
  border-top: 1px solid #AAA;
  padding: 10px;
  text-align: center;
}
footer a {
  margin-left: 20px;
}
footer span {
  font-style: italic;
  font-size: 12px;
  width: 180px;
  margin-left: 40px;
}
label {
  display: block;
  margin-bottom: 1px;
}
input,
select,
textarea {
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
input[type="submit"] {
  clear: both;
  display: block;
}
input#zip_code,
input#home_zip_code,
input#mailing_zip_code,
input#prev_zip_code {
  width: 50px;
}
input:not([type="submit"]):not([type="checkbox"]):not([type="button"]),
textarea {
  border: 1px solid #666;
  width: 90%;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: -ms-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: -o-linear-gradient(top, #f5f5f5, #ffffff);
  background-image: linear-gradient(top, #f5f5f5, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 1px rgba(0, 0, 0, 0.15);
}
/* Formatting */
.no_clear {
  clear: none;
}
/* Tooltip Styles */
p.tooltip {
  display: inline;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  padding: 0px 5px;
}
p.tooltip a {
  text-decoration: underline;
}
span.tooltip_text {
  position: relative;
  color: #000;
}
