.error-message {
  color: #C00;
}

.container #wait_form {
	margin:20px auto;
	width: 300px;
	text-align: center;
}

.container #print_form {
	margin-top:20px;
	display:none;
}

.container h1 {
	width:100%;
}

#download_link {
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
	color: #FFF;
	width: 150px;
	height: 62px;
	margin: 30px auto;
	display: block;
	text-align: left;
	
}
.container #print_form p {
	text-align:center;
}


