- title = "Select Your State"

- content_for :head do
  title= title

- content_for :header do
  = title

- form_tag "/index.html", :class => "state-form", :method => "get" do
  #map

  - field_set_tag :class => :submit do
    .input.select.span-16
      == select_tag :state, :required => true, :tabindex => 1, :class => "large"
    .span-4.last
      button.button.button-primary type="submit" tabindex="20" Continue


- content_for :body_end do
  == javascript_include_tag "map"

